
.main_theme{
    /* background: linear-gradient(#1D2B64,#F8CDDA); */
    background: #1D2B64;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F8CDDA, #1D2B64);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F8CDDA, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(2, 51, 2);
    border-radius: 10px;
    padding: 50px;
    width: 60%;
    height: 600px;
    font-family: 'Slabo 27px', serif;
    font-size: 25px;
}
.theme{
    
    width: 80%;
    height: 93%;
    border: 1px solid red;
}
.input_buttons {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    
}
.location{
    width: 200px;
    height: 30px;
    margin-top: 6px;
    border-radius:10px;
    font-family: 'PT Sans, sans-serif';
    font-size: 15px;
}
button {
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin: 8px 10px;
    font-family: 'PT Sans, sans-serif';
    color: rgb(83, 38, 128);
    font-size: 20px;
}

.lines{
    width: 300px;
    height: 300px;
    padding: 5px 70px;
    border: 1px solid green;
    margin: 0px;
}

input{
    border: 1px solid lightslategrey;
    background: transparent;
    padding-left: 15px;
}

.header{
   display: flex;
   justify-content: center;
   font-family: 'PT Sans', sans-serif;
}

.loc {
    width: 300px;
    height: 15px;
    color: black;
    padding-bottom: 10px;
    border-bottom: solid 1px #05293b; 
}
.temp {
    width: 300px;
    height: 15px;
    color: black;
    padding-bottom: 10px;
    border-bottom: solid 1px #05293b;
}
.humidity {
    width: 300px;
    height: 15px;
    color: black;
    padding-bottom: 10px;
    border-bottom: solid 1px #05293b;
}
.condition {
    width: 300px;
    height: 15px;
    color: black;
    padding-bottom: 10px;
    border-bottom: solid 1px #05293b;
}
.wind{
    width: 300px;
    height: 15px;
    color: black;
    padding-bottom: 10px;
    border-bottom: solid 1px #05293b;
}
.pic{
    width: 130px;
    height: 120px;
    float: right;
    padding-top: 0;
    margin: 50px;
    border: 1px solid black;
}
